* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 62.5%; */
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
}

button {
	border: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input[type="text" i] {
	writing-mode: horizontal-tb !important;
	padding-block: 1px;
	padding-inline: 2px;
}
